.container
	.formheader
		%h1 Create a new user


	= simple_form_for @user do |f|
		= f.input :name, label: false, placeholder: "name"
		= f.input :email, label: false, placeholder: "email"
		= f.input :password, label: false, placeholder: "password"
		= f.input :password_confirmation, label: false, placeholder: "password confirmation"
		= f.input :avatar
		= f.submit 'create user', :class => 'signupbutton'