.navbar
	.navbar{:class => 'left'}
		-if current_user
			%p welcome, #{current_user.name}
			
		-else
			%p welcome, stranger.


	.navbar{:class => 'right'}
		-if current_user
			%ul= link_to "logout", logout_path, :class => 'navbutton'
			%ul= link_to 'add photo', new_photo_path, :class => 'navbutton'
			
		-else 
			%ul= link_to 'login', login_path, :class => 'navbutton'
			%ul= link_to 'signup', signup_path, :class => 'navbutton'




/ %h1= link_to "signup", signup_path
/ %h1= link_to "login", login_path
/ %h1= link_to "logout", logout_path
/ 	